.body-container-margins{
    margin: 0 20%;
    button{
            border: none;
            background-color: rgba(255, 255, 255, 0);
            color: #659AEB;
            float: right;
        }
    p{
        display: flex;
        justify-content: space-between;
    }

}


@media (max-width: 900px) {
    .body-container-margins{
    margin: 0 10%;
    }
 }

@media (max-width: 600px) {
     .body-container-margins{
    margin: 0 5%;
    }
 }

  @media (max-width: 480px) { }
// Small devices (landscape phones, 576px and up)
 @media (max-width: 360px) { 
//  .body-container-margins{
//     margin: auto;
//     }
}

    /* margin: 2rem 20%; */
