@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
$titlefonts: 'Raleway', sans-serif;
$box-border: 2rem;
$box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
$primarycolor: #3587ad;
$secondarycolor: #f16679;
$tertiarycolor:#f5b141;

.description-container-style{
    width: fit-content;
    background-image: url("/animal_print_tertiary_color.png");
    background-position: cover;
    font-family: $titlefonts;
    border-radius: $box-border;
    box-shadow: $box-shadow;
}
.category-title-style{
    font-size: 2rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    padding:0.5rem;
    color: white;
    font-weight: 500;
    }

.description--card-size{
    display: flex;
    flex-direction: column;
    color:white;
    height: auto;
    width: 50vw;
    padding: 0.5rem;
    padding-top: 0;
    .description--card--body-style{
        font-size: 1.5rem;
        text-align: center;
    }
    .description--card--footer-style{
        display: flex;
        justify-content: space-between;
        margin: auto;        
        margin-bottom: 0;
        p{
        margin-inline: 1rem;
        }
    }
    .on--edition-buttons-description--card-container{
    display: flex;
    justify-content: flex-end;
    }
    button{
    display: block;
    align-self: flex-end;
    background-color: $secondarycolor;
    border: none;
    border-radius: $box-border;
    color: #ffffff;
    padding: 0.5rem;
    margin: 0.5rem;
    height: 3rem;
    }
    .input{
        border-radius: 0.5rem;
        background-color: #efefef;
    .input-file {
    background: none;
}
    }
}


@media (max-width: 1600px) { 

} 
// // Large devices (desktops, 992px and up)
@media (max-width: 1440px) {

 }
 // // Large devices (desktops, 992px and up)
@media (max-width: 1200px) {

 }
// // Medium devices (tablets, 768px and up)
@media (max-width: 1024px) { 

}
 @media (max-width: 900px) { 
    .description--card-size{
        width: 75vw;
    }
 }

@media (max-width: 768px) { 
}

@media (max-width: 600px) {
    .description--card-size{
        width: 85vw;
    }
 }

@media (max-width: 480px) {

   }
// Small devices (landscape phones, 576px and up)
 @media (max-width: 360px) {
    .description--card-size{
        width: 95vw;
    }
  }