.Description--card-size{
    display: flex;
    align-items: center;
    background-color: #464b57;
    color:white;
    height: 30vh;
    width: 50vw;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
    padding: 1rem;
}