@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.footer{
    bottom: 0rem;
    margin-top: 2rem;
    justify-content: center;
    display: flex;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}