@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
$titlefonts: 'Raleway', sans-serif;
$box-border: 2rem;
$box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
$primarycolor: #3587ad;
$secondarycolor: #f16679;
$tertiarycolor:#f5b141;
$transform-scale: scale(1.05);

.container-cardbox-align{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-container{
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 30vh;
    border-radius: 2rem;
    text-align: right;
    margin: 1rem auto;
    color: #000000;
    overflow: hidden;  
    box-shadow: $box-shadow; 
}
.img-container{
    width:15%;
    height: 100%;
    img{
    width: 100%;
    height: 100%;
    min-height: 10rem;
    min-width: 15rem;
    }
}
.text-container{
    background-image: url("/animal_print_tertiary_color.png");
    background-position: top;
    width: 100%;
    z-index:-1;
    font-size: 1rem;
    .card-title{
        padding-top: 1.5rem;
        padding-right: 1rem;
    }
    .card-text{
        padding-right: 1rem;
    }
}
.card-container:hover{
    transform: $transform-scale;

}
// Small devices (landscape phones, 576px and up)
 @media (max-width: 585px) {
    .card-container{
        width: 80%;
    }

}

// // Medium devices (tablets, 768px and up)
@media (max-width: 372px) { 
        .card-container{
        width: 95%;
    }
    .text-container{
        font-size: 0.8rem;
    }
 }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {  }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {  }