@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
$titlefonts: 'Raleway', sans-serif;
$primarycolor: #3587ad;
$secondarycolor: #f16679;
$tertiarycolor:#f5b141;
   .jumbotron-title-size{
    font-size: 15vh;
    font-weight: 400;
    margin-top: 0rem;
    }
.jumbotron-background-wave {
    display: flex;
    flex-flow: row-reverse;
    justify-content:end;
    background-image: url("/dogbackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    height: 45rem;
    z-index: -1;
    // 1920x1080
    .jumbotron-text-align{
        align-self: right;
        h1{
        font-family: 'Raleway', sans-serif;
        margin-top: 12rem;
        font-size: 5rem;
        font-weight: 200;
        z-index: 0;
        margin-bottom: 0;
        padding-right: 2rem;
        }
        h2{
        font-size: 4.5rem;
        font-weight: 200;
        z-index: 0;
        margin-bottom: 0;
        padding-right: 2rem; 
        }

}
}
.jumbotron-profile-picture-shape{
    margin-top: 8rem;
    height: 25rem;
    width: 25rem;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 2rem;
    img{
        border-radius: 2rem;
        width: 100%;
        height: 100%;
    }
}
.Jumbotron-img-size{
    width:50vw;
}
.Jumbotron-welcome-size{
    width:40vw;
}
.jumbotron-tiltle--buttons-container{
color:white;
margin-top: 15rem;
margin-right: 20rem;
.jumbotronlanding-title-size{
    text-align: left;
    line-height: normal;
    width: 36.25rem;
    font-style: normal;
    font-weight: normal;
    font-size: 6rem;
    line-height: 80px;
    }
}
.jumbotron-buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    .button-login-style{
    background-color: $secondarycolor;
    font-family: 'Raleway', sans-serif;
    margin-top: 3rem;
    width: 340px;
    height: 57px;
    left: 806px;
    top: 385px;
    border-radius: 10rem;
    border: none;
    color: white;
    font-size: 2rem;
    }
}
.title-profile{
    margin-left: 15rem;
    margin-top: 2rem;
    font-size: 6rem;
    .h1--profile-title-font--style{
    font-size: 7rem;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    }
    .h2--profile-title-font--style{
        color: white;
    }
}
.profile--name--title{
    display: flex;
}
.profile{
    background-image: url("/animal_print_v2.png");
    background-size: cover;
    justify-content: center;
    height: 600px;

}

@media screen and (min-width: 21em) {
    .jumbotron-background-wave{
        background-position: right;
        flex-flow: inherit;
        // height: 350px;
    }
        .jumbotron-tiltle--buttons-container {
    margin-top: 10rem;
    margin-right: 0;
    margin-left: 0.5rem;
    .jumbotronlanding-title-size {
    font-size: 3.5rem;
    margin-left: auto;
    width: auto;
}
}

}

@media screen and (min-width: 33.625em) {
    .jumbotron-background-wave{
        background-position: center;
    }
    .jumbotronlanding-title-size{
        width: 100%
    }

}


@media screen and (min-width: 50em) {
    .jumbotron-background-wave{
        flex-flow: row-reverse;
        .jumbotron-tiltle--buttons-container {
            margin-top: 15rem;
            margin-right: 5rem;
          .jumbotronlanding-title-size {
                font-size: 6rem;
                width: 36.25rem;
            }
        }
    }
}
@media screen and (min-width: 70em) {
    .jumbotron-background-wave{
        flex-flow: row-reverse;
        // height: 800px;
        .jumbotron-tiltle--buttons-container {
            margin-top: 15rem;
            margin-right: 20rem;
          .jumbotronlanding-title-size {
                font-size: 6rem;
                width: 36.25rem;
            }
        }
    }
}
