@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
$box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
 .our--services-box--style{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}
.service-cards--container-flex{
    display: flex;
    justify-content: space-evenly;
}
    .services--presentation-card--teacher{
        display: flex;
        justify-content: center;
        background-image: url("/dogteachers.png");
        background-size: cover;
        width: 15rem;
        height: 15rem;
        border-radius: 2rem;
        background-position: right;
        margin: 2rem;
        box-shadow: $box-shadow;
    }
    .services--presentation-card--walker{
        display: flex;
        justify-content: center;
        background-image: url("/dogwalkers.png");
        background-size: cover;
        width: 15rem;
        height: 15rem;
        border-radius: 2rem;
        background-position: right;
        margin: 2rem;
        box-shadow: $box-shadow;
    }
    .services--presentation-card--daycare{
        display: flex;
        justify-content: center;
        background-image: url("/dogdaycare.png");
        background-size: cover;
        width: 15rem;
        height: 15rem;
        border-radius: 2rem;
        background-position: right;
        margin: 2rem;
        box-shadow: $box-shadow;
    }
    .services--presentation-card--hotel{
        display: flex;
        justify-content: center;
        background-image: url("/doghotel.png");
        background-size: cover;
        width: 15rem;
        height: 15rem;
        border-radius: 2rem;
        background-position: right;
        margin: 2rem;
        box-shadow: $box-shadow;
    }
    .services--presentation-card--vet{
        display: flex;
        justify-content: center;
        background-image: url("/dogvet.png");
        background-size: cover;
        width: 15rem;
        height: 15rem;
        border-radius: 2rem;
        background-position: right;
        margin: 2rem;
        box-shadow: $box-shadow;
    }
    .zoom:hover{
        transform: scale(1.2);
    }

    @media screen and (min-width: 21em) {
    .service-cards--container-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .services--presentation-card--teacher{
        flex: 0 1 calc(50% - 1em);
    }
    .services--presentation-card--walker{
        flex: 0 1 calc(50% - 1em);
    }
    .services--presentation-card--daycare{
        flex: 0 1 calc(50% - 1em);
        background-position: inherit;
    }
    .services--presentation-card--hotel{
        flex: 0 1 calc(50% - 1em);
        background-position: inherit;
    }   
    .services--presentation-card--vet{
        flex: 0 1 calc(50% - 1em);
    }
}
@media screen and (min-width: 40em) {
    .services--presentation-card--teacher{
        flex: 0 1 calc(25% - 1em);
    }
    .services--presentation-card--walker{
        flex: 0 1 calc(25% - 1em);
        background-position: top;
    }
    .services--presentation-card--daycare{
        flex: 0 1 calc(25% - 1em);
    }
    .services--presentation-card--hotel{
        flex: 0 1 calc(25% - 1em);
    }   
    .services--presentation-card--vet{
        flex: 0 1 calc(25% - 1em);
        background-position: bottom;
    } 
}

@media screen and (min-width: 100em) {
    .services--presentation-card--teacher{
        flex: 0 1 calc(15% - 1em);
    }
    .services--presentation-card--walker{
        flex: 0 1 calc(15% - 1em);
    }
    .services--presentation-card--daycare{
        flex: 0 1 calc(15% - 1em);
    }
    .services--presentation-card--hotel{
        flex: 0 1 calc(15% - 1em);
    }   
    .services--presentation-card--vet{
        flex: 0 1 calc(15% - 1em);
    } 
}