
 .our--services-box--style{
     margin-top: 3rem;
    display: flex;
    justify-content: center;
}
.service-cards--container-flex{
    display: flex;
    justify-content: space-evenly;
}
    .services--presentation-card--teacher{
        display: flex;
        justify-content: center;
        background-image: url("../assets/img/dogteachers.png");
        background-size: cover;
        width: 15rem;
        height: 15rem;
        border-radius: 2rem;
        background-position: right;
        margin: 2rem;
    }
    .services--presentation-card--walker{
        display: flex;
        justify-content: center;
        background-image: url("../assets/img/dogwalkers.png");
        background-size: cover;
        width: 15rem;
        height: 15rem;
        border-radius: 2rem;
        background-position: right;
        margin: 2rem;
    }
    .services--presentation-card--daycare{
        display: flex;
        justify-content: center;
        background-image: url("../assets/img/dogdaycare.png");
        background-size: cover;
        width: 15rem;
        height: 15rem;
        border-radius: 2rem;
        background-position: right;
        margin: 2rem;
    }
    .services--presentation-card--hotel{
        display: flex;
        justify-content: center;
        background-image: url("../assets/img/doghotel.png");
        background-size: cover;
        width: 15rem;
        height: 15rem;
        border-radius: 2rem;
        background-position: right;
        margin: 2rem;
    }
    .services--presentation-card--vet{
        display: flex;
        justify-content: center;
        background-image: url("../assets/img/dogvet.png");
        background-size: cover;
        width: 15rem;
        height: 15rem;
        border-radius: 2rem;
        background-position: right;
        margin: 2rem;
    }
