.navbar{
    padding-left: 10rem;
    padding-right: 10rem;
    position: fixed;
    width: 100%;
    .navbar-brand{
        color: white;
        font-size: 2rem;
        .fa-paw:before {
        font-size: 2rem;
        }
    }
  .navabar--delte--button-style{
      background-color: rgba(255,255,255,0);
      border: none;
      color: #E44040;
      margin: 0;
      padding: 0;
  }
  .btn-secondary {
    color: #fff;
    background-color: #f16679;
    border-color: #6c757d;
    border-radius: 10rem;
    }
}
 @media (max-width: 800px) { 
    .navbar{
    padding-left: 5rem;
    padding-right: 5rem;
    }
 }
  @media (max-width: 550px) { 
    .navbar{
    padding-left: 3rem;
    padding-right: 3rem;
    }
 }
   @media (max-width: 369px) { 
    .navbar{
    padding-left: 2rem;
    padding-right: 2rem;
    }
 }
    @media (max-width: 300px) { 
    .navbar{
    padding-left: 0;
    padding-right: 0;
    }
 }