.pet--card-style{
    background-image: url("../assets/img/animal_print_tertiary_color.png");
    height: 400px;
    width: 360px;
    // z-index: 1;
    border-radius: 10px;
    margin-bottom: 11rem;
    align-self: center;
    z-index: 0;
    .pet--card-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
  border-radius: 50%;
    width: 13rem;
    height: 13rem;
    z-index: 0;
    margin-top: -7%;
    align-self: center;

}
h3{
    font-size: 3rem;
    align-self: center;
}
.pet--card-buttons--container{
    align-self: flex-end;
    margin-right: 0.5rem;;
   button{
    border: none;
    background: none;
   }
}
}
}
.pet--card-body{
    background-image: url("../assets/img/animal_print_secondary_color.png");
    height: 272px;
    width: 360px;
    z-index: 2;
    border-radius: 10px;
    padding: 1rem;
}
// .login-img-size{
//     width: 25rem;
// }
//  .login-close-button{
//         background: none;
//         border: none;
//         color: black;
//         float: right;
//         margin-right: 0.5rem;
//         font-size: 25px;
//         button:focus{
//             border:none;
//         }
//     }
//  @media (max-width: 360px) {
//     .form-pet-container{
//         width: 330px;
//     }

// }