.pet--card-style{
    background-color: #ffffff36;    
    width: 22.5rem;
    border-radius: 2rem;
    margin: 0 1rem;
    margin-bottom: 1rem;
    align-self: center;
    z-index: 0;

    .pet--card-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
        color: white;
    img {
    border-radius: 2rem;
    width: 13rem;
    height: 13rem;
    z-index: 0;
    align-self: center;
}
h3{
    font-size: 3rem;
    align-self: center;
}
.pet--card-buttons--container{
    align-self: flex-end;
    margin-right: 0.5rem;;
   button{
    border: none;
    background: none;
   }
}
}
}
.pet--card-body{
        background-color: #f1eaeaa8;

    height: 272px;
    width: 360px;
    z-index: 2;
    border-radius: 2rem;
    padding: 1rem;
}
.pet--card-body--description--text{
    color:black
}
