@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
$titlefonts: 'Raleway', sans-serif;
$primarycolor: #3587ad;
$secondarycolor: #f16679;
$tertiarycolor:#f5b141;
$box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);

.container-title-size{
    display: flex;
    justify-content: space-between;
    font-weight: 200;
        h2{
            font-size: 2.5rem;
        }
        button{
            border: none;
            background:none;
            color: $primarycolor;
        }

}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #f16679;
    border-radius: 2rem;
    font-family: 'Raleway', sans-serif;
    box-shadow: $box-shadow;    
}
.nav-pills .nav-link:hover {
    transform: scale(1.2);
    color:black;
}
.nav-pills .nav-link {
    border-radius: 0.25rem;
    font-family: 'Raleway', sans-serif;
}
a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}