$primarycolor: #659AEB;
$secondarycolor: #FEB82F;
.form-pet-container{
    position:fixed;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-image: url("../assets/img/animal_print_v2.png");
    display: flex;
    width: 360px;
    flex-direction: column;
    border-radius: 5px;
    padding: 0.5rem;
    z-index: 1;
    border: 1px solid $primarycolor;
    .input{
        margin: 0.5rem 0 0.5rem 0;
        border-radius: 0.5rem;
        text-align: right;
    }
}
.close{
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #f8f9fa;
    text-shadow: 0 1px 0 #fff;
}
.open-modal-blur{
    top:0%;
    position: fixed;
    z-index:0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.281);
}
.warning-alert-style{
    background-color: $secondarycolor;
    width: 85%;
    border-radius: 5px;
    .alert-text-color{
        color: white;
    }
}