@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
$titlefonts: 'Raleway', sans-serif;
$primarycolor: #3587ad;
$secondarycolor: #f16679;
$tertiarycolor:#f5b141;
.searcher{
    display: flex;
    justify-content: center;
}
.button-searcher {
    margin-top: 1rem;
    height: 3.5rem;
    width: 3.5rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $secondarycolor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    border: none;
}
.fa-search:before {
    content: "\f002";
    color: white;
}
.fas{
    font-size: x-large;
}
.MuiFormControl-root{
    background: #C4C4C4;
    opacity: 0.15;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
    border-radius: 10px;
}
