.services--cards-options--buttons-style{
    background: none;
    color: white;
    margin-left: 11rem;
    border: none;
}
.service--hire-button{
        display: block;
        align-self: flex-end;
        background-color: #f16679;
        border: none;
        border-radius: 2rem;
        color: #ffffff;
        padding: 0.5rem;
        margin: 0.5rem;
        height: 3rem;
}    
@media (max-width: 1600px) { 

} 
// // Large devices (desktops, 992px and up)
@media (max-width: 1440px) { 
     
}
 // // Large devices (desktops, 992px and up)
@media (max-width: 1200px) { 
     
}
// // Medium devices (tablets, 768px and up)
@media (max-width: 1024px) { 
    
}
 @media (max-width: 900px) { 
  
    }

  @media (max-width: 768px) { 
    

 }
@media (max-width: 600px) { 
    
}

  @media (max-width: 480px) { 
       .service_body{
    width: 236px;
    
}
 }
// Small devices (landscape phones, 576px and up)
 @media (max-width: 360px) { 
     
}